<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Run html successfully<h1><br>
        {{ lst | length }}<br>
        {{ lst | add:"2" }}<br>
        {{lst}}<br>
        {{ lst | capfirst }}<br>
        {{ lst | join:" " }}<br>
        {{ date | date:"D d M Y" }}.<br>
        {{ date|date:"SHORT_DATE_FORMAT" }}<br>
        {{ val | capfirst }}<br>
        {{ valName | dictsort:"name" | join:" " }}
    
</body>
</html>