{% extends 'base.html'%}
{% load static%}
{% block content %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">User ID</th>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for i in data %}
            <th scope="row"> {{i.userId}} </th>
            <td> {{i.id}} </td>
            <td> {{i.title}} </td>
            <td> {{i.body}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h1>Im inside the app <h1>
        {% comment %} <img src = "static/download.jpeg" alt = "Bird picture" /> {% endcomment %}
        <img src = "{%static 'image/pic2.jpeg'%}" alt = "Bird picture" />
{%endblock%}