{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center">This is login Page</h1>
    {% comment %} {% if messages %}
    {% for m in messages %}
    <small {% if m.tags %} class="{{m.tags}}" {% endif %} >{{m}}</small>
    {% endfor %}
    {% endif %}
    {% load crispy_forms_tags %}  {% endcomment %}
    
    <form action="" method="post" style="width:50%; height: 70%; margin: auto; border: 1px solid black;" novalidate>
        {% csrf_token %}
        {% comment %} Uncomment this if using crispy-forms: {{ form|crispy }} {% endcomment %}
        {% if form.non_field_errors %}
        {% for er in form.non_field_errors %}
        <p class="bg-danger text-white p-3">{{er}}</p>
        {% endfor %}
        {% endif %}
        {% for fm in form %}
        <div class="form-group mb-3">
            {{ fm.label_tag }}
            {{ fm }}
            <div class="text-danger">
                {{ fm.errors|striptags }}
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
        <a type="submit" class="btn btn-primary">Forget Your Password</a>
    </form>
{% endblock content %}